.discover {
  padding: 60px 0;

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
  }

  &__desc {}

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__form {}

  &__picture {
    position: relative;

    &_hint {
      position: absolute;
      top: 90px;
      left: 40px;
    }
  }
}

.container {}