.form {
  display: grid;
  grid-template-columns: 1fr auto 1fr auto;
  padding: 12px 16px;
  align-items: center;
  gap: 16px;

  border-radius: 16px;
  border: 1px solid rgba(144, 144, 144, 0.30);
  background: #FFF;

  &__del {
    height: 24px;
    width: 1px;
    background: #909090;
  }

  &__label {}

  &__btn {}
}